<div class="page" data-name="habito2">
    
    <!-- Static Navbar -->
    <div class="navbar">
      <div class="navbar-bg"></div>
      <div class="navbar-inner bg-dark">

        <div class="left">
          <a class="link back">
            <i class="icon icon-back"></i>
            <span class="if-not-md">Back</span>
          </a>
        </div>
      
        <div class="title textcenter">Change your habits está orgulloso</div>
  

        <span class="images"> 
          <img src="img/pieza.png" height="35" width="35">
        </span>
      
      </div>
      
    </div>

   <meta name="viewport" content="width=device-width, initial-scale=1.0">
   
  
  <div class="page-content bg-dark">
   
   
      <div class="panel panel-left panel-reveal panel-resizable panel-init theme-dark">
      <div class="page bg-dark">
        <div class="block">
          <p style="text-align: center;">Esto es una gran idea</p>

          <div class="images">
            
            <img src="img/idea.png" style="margin-top: 65px;" height="50" width="50"/>
    
          </div>
          
         
        </div>
      </div>
    </div>
  
    <div class="row">
      
        <div class="col images">
        
            <h2 class="textcenter" style="padding-top: 7%;">Escribe tu hábito</h2>
            <h3 class="textcenter">*Ejemplo: Beber 2 litros de agua*</h3>
       </div>

    </div>

       <div class="row">
            <div class="col images">
             <input type="text" name="descripcion" id="descripcion" placeholder="Escribe tu hábito aquí">
            </div>
      </div>
       
    

      <div class="row">
      
        <div class="col images">
        
            <h2 class="textcenter" style="padding-top: 7%;">Añade una meta diaria</h2>
            <h3 class="textcenter">*Valor numérico*</h3>
       </div>

  </div>


        <div class="row bg-dark">
          <div class="col images">
            <div class="stepper stepper-fill stepper-init" data-wraps="true" data-autorepeat="true" data-autorepeat-dynamic="true">
                <div class="stepper-button-minus"></div>
                <div class="stepper-input-wrap">
                <input type="text" value="0" min="0" max="20" step="1" readonly>
                 </div>
               <div class="stepper-button-plus"></div>
           </div>
         </div>
      </div>
       
   



  
    <div class="row">
      
        <div class="col images">
        
            <h2 class="textcenter" style="padding-top: 7%;">Añade una motivación</h2>
            <h3 class="textcenter">*Ejemplo: Necesito bajar de peso*</h3>
       </div>
       
         <input type="text" name="motivacion" id="motivacion" placeholder="Escribe tu motivación aquí">
       
    </div>

    <div class="row">
      
        <div class="col images">
        
            <h2 class="textcenter" style="padding-top: 7%;">¿Qué tan frecuente quieres realizarlo?</h2>
            
       </div>
       
      
    </div>
    <div class="text-align-center" style="margin-left: 33%;">
      <a href="/medicion/"> 
    <button class="col button button-raised button-round buttonh">Todos los días </button>
     </a>
    </div>
   
     <p class="text-white"> ó </p> 

    <div class="row">
      <div class="block block-strong lunes" style="border: solid 3px;">
        <p>Lunes<label class="checkbox"><input type="checkbox"><i class="icon-checkbox"></i></label> </p>
       </div> 
     
       
     <div class="block block-strong martes" style="border: solid 3px;">
      <p>Martes<label class="checkbox"><input type="checkbox"><i class="icon-checkbox"></i></label> </p>
     </div> 
     
       
     <div class="block block-strong miercoles" style="border: solid 3px;">
      <p>Miércoles<label class="checkbox"><input type="checkbox"><i class="icon-checkbox"></i></label> </p>
     </div> 

    </div>

    


    <div class="row">
      <div class="block block-strong lunes" style="border: solid 3px;">
        <p>Jueves<label class="checkbox"><input type="checkbox"><i class="icon-checkbox"></i></label> </p>
     </div> 
      
      
      <div class="block block-strong martes" style="border: solid 3px;">
      <p>Viernes<label class="checkbox"><input type="checkbox"><i class="icon-checkbox"></i></label> </p>
      </div> 
      
      
      <div class="block block-strong miercoles" style="border: solid 3px;">
      <p>Sabado<label class="checkbox"><input type="checkbox"><i class="icon-checkbox"></i></label> </p>
      </div> 

   </div>

   
   <div class="row">
   <div class="block block-strong domingo">
    <p>Domingo<label class="checkbox"><input type="checkbox"><i class="icon-checkbox"></i></label> </p>
   </div> 
   </div>


    <div class="images">
      <a href="/medicion/">
     <img style="padding-top: 40px;" src="img/dedoderecha.png" height="60" width="60"/> 
     </a>
     <p class="text-white"> Da click en el dedo para continuar </p> 
  </div>

   
  
    
  </div>
  
  </div>