<div class="page" data-name="home">
    
  <!-- Static Navbar -->
  <div class="navbar">
    <div class="navbar-bg"></div>
    <div class="navbar-inner bg-dark">
    
      <div class="title textcenter">¡Bienvenido!</div>
      <div class="right"></div>
    </div>
  </div>
 

<div class="page-content bg-dark">
 
 
    <div class="panel panel-left panel-reveal panel-resizable panel-init theme-dark">
    <div class="page">
      <div class="block">
        <p>Left Panel content here</p>
        
        <div class="col">
          <img src="img/menu.png" style="margin-top: 15px;" height="50" width="50"/>
        </div>
        
        <div class="col">
          <img src="img/panel.png" style="margin-top: 15px;" height="50" width="50"/>
        </div>

        <div class="col">
          <img src="img/diamond.png" style="margin-top: 15px;" height="50" width="50"/>
        </div>

        <div class="col">
          <img src="img/stats.png" style="margin-top: 15px;" height="50" width="50"/>
        </div>

        <div class="col">
          <img src="img/cerrarsesion.png" style="margin-top: 15px;" height="50" width="50"/>
        </div>

        <p><a class="panel-close" href="#">Close me</a></p>
      </div>
    </div>
  </div>
  
 
  
 

    <div class="row" style="margin-top:20px;">

       <a href="/perfil/" class="col button button-fill" >Perfil</button>

    </div>
    
    <div class="row">

      <div class="col">
          <button class="col button button-fill" onclick="Cerrarsesion()">Cerrar Sesión</button>
      </div>
   </div>

  
</div>

</div>