<div class="page" data-name="loginface">
    
    <!-- Static Navbar -->
    <div class="navbar">
      <div class="navbar-bg"></div>
      <div class="navbar-inner loginfb">
       
        <div class="title" style="font-family:'Courier New', Courier, monospace;">¿Ready?</div>
        <div class="row">
          <div class="col">
            <img src="img/usuario.png" height="60" width="60" style="margin-top: 15px; margin-left: 1080px;";/>
          </div>
        </div>
        <div class="right"></div>
      </div>
    </div>
   
  
  <div class="page-content loginfb">
    
  
    <div class="block">
    <div class="login-screen-title">MY LIFE - MY RULES</div>
    
    
    <div class="images">
      <img src="img/facebook.png" height="60" width="60"/>
    </div>
  
  
  
  
    <div class="row">
  
        <div class="col" style="margin-top:20px; margin-left: 20px;">
            <div class="item-title item-label text-left">Username</div>
            <input type="text" name="Username" id="usuario" placeholder="Your username">
        </div>
  
    </div>
  
  
    <div class="row" style="margin-top:20px; margin-left: 20px;">
  
        <div class="col">
            <div class="item-title item-label text-left">Password</div>
            <input type="password" name="password" id="password" placeholder="Your password">
        </div>
  
    </div>
  
    
    <div class="row" style="margin-top:20px;">
  
        <div class="col">
            <button class="col button button-fill" onclick="Ingresar()">Ingresar</button>
        </div>
  
    </div>

    <div class="row">

        <div class="col" style="margin-top: 25px;">
           <p> <a href="/login/" class="col button button-fill">Cancelar</a></p>
 
        </div>
   </div>

  
  
  </div>
  
  </div>
  
  
  </div>