<div class="page" data-name="medicion">
    
    <!-- Static Navbar -->
    <div class="navbar">
      <div class="navbar-bg"></div>
      <div class="navbar-inner bg-dark">

        <div class="left">
          <a class="link back">
            <i class="icon icon-back"></i>
            <span class="if-not-md">Back</span>
          </a>
        </div>
      
        <div class="title textcenter">Change your habits está orgulloso</div>
  

        <span class="images"> 
          <img src="img/pieza.png" height="35" width="35">
        </span>
      
      </div>
      
    </div>

   <meta name="viewport" content="width=device-width, initial-scale=1.0">
   
  
<div class="page-content bg-dark">
   
   
      <div class="panel panel-left panel-reveal panel-resizable panel-init theme-dark">
      <div class="page bg-dark">
        <div class="block">
          <p style="text-align: center;">Esto es una gran idea</p>

          <div class="images">
            
            <img src="img/idea.png" style="margin-top: 65px;" height="50" width="50"/>
    
          </div>
          
         
        </div>
      </div>
    </div>

  
    <div class="row">
      
        <div class="col images">
        
            <h1 class="textcenter" style="padding-top: 7%;">Mide tu hábito</h1>
     
        </div>

    </div>

    <div class="block-title"></div>
  <div class="list no-hairlines-md theme-dark" style="width: 20%; margin-left: 40%;">
  <ul>
    <li>
      <div class="item-content item-input">
        <div class="item-innerk">
          <div class="item-input-wrap">
            <input type="text" placeholder="Selecciona un periodo" readonly="readonly" id="demo-calendar-range"/>
          </div>
        </div>
      </div>
    </li>
  </ul>
  </div>
 

 <div class="row" style="padding-top: 5%;">
      
    <div class="col images">
    
        <h1 class="textcenter" style="padding-top: 7%;">Prioridad</h1>
        
   </div>
    
   <div class="block-title"></div>
  <div class="list no-hairlines-md">
  <ul>
    <li>
      <div class="item-content item-input">
        <div class="item-inner">
          <div class="item-input-wrap">
            <input type="text" placeholder="Prioridad" readonly="readonly" id="demo-picker-device"/>
          </div>
        </div>
      </div>
    </li>
  </ul>
  </div>

 </div>

 <div class="row" style="padding-top: 3%;">
      
    <div class="col images">
    
        <h1 class="textcenter" style="padding-top: 7%;">Recordatorio</h1>
        
   </div>
</div>
 <li class="fondob">
    <a class="item-link smart-select smart-select-init" data-open-in="sheet">
      <select name="notificacion-alarma">
        <option value="notificacion">notificacion</option>
        <option value="alarma">alarma</option>
      </select>
      <div class="item-content images">
        <div class="item-inner">
          <div class="item-title">Elige tu recordatorio</div>
        </div>
      </div>
    </a>
  </li>


 
 <div class="block">
    <p class="row">
        <button class="col button color-white" style="border: solid; width:20%;">Notificación</button> <img src="img/notificacion.png" height="30" width="30">
        <button class="col button color-white" style="border: solid; width:20%;">Alarma</button> <img src="img/alarma.png" height="30" width="30">
    </p>
 </div> 

 <a href="/tutorial/" class="col button button-fill" style="margin-top: 50px; width: 33%; text-align: center;">Crear habito</a>

</div> 